########################################################################################################################
## Mandatory Variables
########################################################################################################################

domain_name  = "" # Include the subdomain you wish to use. Ex: demo.yoursite.com
region       = "" # The region you are deploying to. Ex: us-east-1
service_name = "" # The preferred name of the service you are deploying. Ex: moodle
tld_zone_id  = "" # The zone id of the Top level domain. This can be found in Route53

########################################################################################################################
## Optional Variables
########################################################################################################################

# ALB
#healthcheck_endpoint = "/"
#healthcheck_matcher = "200"

# Cloudwatch
#retention_in_days = 7

# ECS variables
#container_port = 8080
#cpu_target_tracking_desired_value = 70
#cpu_units = 512
#ecs_task_deployment_maximum_percent = 100
#ecs_task_deployment_minimum_healthy_percent = 50
#ecs_task_desired_count = 2
#ecs_task_max_count = 10
#ecs_task_min_count = 2
#memory = 1024
#memory_target_tracking_desired_value = 80
#target_capacity = 100

# ECR
#ecr_force_delete = true

# Network variables
#az_count = 2
#vpc_cidr_block = "10.1.0.0/16"

# RDS variables
#db_allocated_storage = 10
#db_deletion_protection = false
#db_engine = "mariadb"
#db_instance_class = "db.t3.micro"
#db_max_allocated_storage = 20
#db_name = "application_database"
#db_password = "foobar"
#db_port = 3306
#db_username = ""

# Service variables
#environment = "dev"
#namespace = "Demo"
#scenario = "scenario-ecs-fargate"